
* {
    box-sizing: border-box;
    }

@media screen and (min-width: 960px){
    html, body {
        height: 100%;
    }
    
    html {
        display: table;
        margin: auto;
    }
    
    body {
        display: table-cell;
        vertical-align: middle;
    }
}