body {
    width: 480px;
    margin: 0px auto;
    display: grid;
    grid-template-rows: 75px 150px 1fr 1fr 2fr 2fr 80px;
    grid-template-columns: 240px 240px;
}

div {
    float: left;
}

@media (min-width:481px){
    body {
        width:600px;
        grid-template-rows: 75px 150px 1fr 2fr 2fr 80px;
        grid-template-columns: 300px 300px;
    }
}

@media (min-width:768px){
    body {
        width:960px;
        grid-template-rows: 100px 200px 250px 150px;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    }
}